/* Custom CSS for Image Popup Plugin */

.fancybox-container{
    z-index: 999999 !important;
}
#image-popup-container{
    display: none;
}

#image-popup-container.fancybox-content{
    display: block;
    padding: 0;
    line-height: 0;
    overflow: visible;
}

#image-popup-container.fancybox-content img{
    max-width: 600px;
    max-height: 600px;
    width: 100%;
}

#image-popup-container.fancybox-content .fancybox-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
}

.swiper-button-next, .swiper-button-prev{
  color: #fff !important;
  text-shadow: 2px 2px 8px rgba(0,0,0, 0.8);
  background: none !important;
}

.fancybox-content{
    background-color: transparent !important;
}
.fancybox-button {
    background: rgba(30,30,30,.6) !important;
}

.swiper-slide{
    position: relative;
}

.swiper-slide a.btn-full{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.swiper-slide a.btn-default{
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.swiper-slide a.btn-link{
    width: 100%;
    text-align: center;
    max-width: 60%;
    height: 60px;
    display: flex;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.7);
    border-radius: 10px;
    place-content: center;
    place-items: center;
    color: #fff;
    font-size: 23px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 1024px){
    .swiper-slide a.btn-link{
        font-size: 16px;
        height: 50px;
        max-width: 80%;
    }
}

@media (min-width: 479px){
    #image-popup-container.fancybox-content{
        max-width: 600px;
        max-height: 600px;
    }
}